@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

body, .cobrinha {
    background-color: #414141;
}

#tabuleiro-jogo {
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.borda-jogo-1 {
    border: #abb78a solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #abb78a;
}

.borda-jogo-2 {
    border: #595f43 solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #595f43;
}

.borda-jogo-3 {
    border: #8b966c solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
}

#texto-instrucoes {
    position: absolute;
    top: 60%;
    color: #333;
    width: 300px;
    text-align: center;
    text-transform: capitalize;
    padding: 50px;
    margin: 0;
}

.pontuacoes {
    display: flex;
    justify-content: space-between;
}

#pontos {
    color: #abb78a;
}

#pontos, #recorde {
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

#recorde {
    color: #d8ddca;
    display: none;
}

.borda-jogo-3, #logo {
    background-color: #c4cfa3;
}

.cobrinha {
    border: #5a5a5a 1px dotted;
}

.comida {
    background-color: #dedede;
    border: #999 5px solid;
}

#logo {
    position: absolute;
}